<p style="color: green"><%= notice %></p>

<%= render current_user %>



<div>
  <%= button_to "Edit this user", edit_user_path(current_user) %> |
  <%= button_to "Destroy this user", current_user, method: :delete %>
</div>
